
<% posts.each do |_post| %>
  <% if _post.user.valid_status == true && _post.user.display_status != false %>
  <table class= "table-bordered">
    <tr>
      <th>
        <%= link_to (image_tag _post.get_image(150, 150)), public_post_path(_post.id) %><br>
        <%= _post.user.name %>
      </th>
      <td>
        <%= "作品名：#{_post.title}" %><br>
        <%= "媒体：#{@medium.name}" if @medium.present? %>
        <%= "モチーフ：#{@motif.name}" if @motif.present? %>
        <%= "スタイル：#{@style.name}" if @style.present? %>
        <br>
        <!--編集画面-->
        <% if user_signed_in? && _post.user.id == current_user.id %>
          <%= link_to edit_public_post_path(_post.id) do %> <i class="fa-solid fa-gears"></i> <%end%>
        <%end%>
      </td>
    </tr>
  </table>
  <%end%>
<%end%>