<h4>コメント</h4>
  <!--投稿フォーム-->
  <div class="row">
    <div class="col-lg-8">
      <%= form_with model: comment, url: public_post_comments_path(post.id), method: :post do |f|%>
        <%= render 'layouts/error_messages', resource: comment %>
        <%= f.text_area :content %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.submit "送信", class: "btn-success" %>
      <%end%>
      <br>
    </div>
  </div>

  <!--コメント表示(降順)-->
  <% comments.each do |comment| %>
    <div class="row">
      <div class="col-lg-2">
        <% user = comment.user %>
        <%= link_to image_tag(user.get_icon(100, 100)), public_user_path(user.id) %><br>
        name: <%= user.name %>
      </div>
      <div class="col-lg-4">
        コメント：<br>
        <%= comment.content %><br>
        <%= link_to "削除", public_post_comment_path(post.id, comment.id), method: :delete, class: "btn-danger" if user.id == current_user.id%>
      </div>
    </div>
  <%end%>