
  <% posts.each do |_post| %>
    <% if _post.user.valid_status == true && _post.user.display_status != false %>
      <table class= "table-bordered">
        <tr>
          <th>
            <%= link_to (image_tag _post.get_image(150, 150)), public_post_path(_post.id) %><br>
            <%= _post.title %>
            <!--編集画面-->
            <% if user_signed_in? && _post.user.id == current_user.id %>
              <%= link_to edit_public_post_path(_post.id) do %> <i class="fas fa-cogs"></i> <%end%>
            <%end%>
          </th>
          <td>
            <%= "ユーザ名：#{_post.user.name}" %><br>
            <%= "媒体：#{CategoryMedium.find(_post.category_medium_id).name}"%><br>
            <%= "モチーフ：#{CategoryMotif.find(_post.category_motif_id).name}"%><br>
            <%= "スタイル：#{CategoryStyle.find(_post.category_style_id).name}"%><br>
            <%= "投稿日時：#{_post.updated_at}"%><br>
          </td>
        </tr>
      </table>
    <%end%>
  <%end%>
  <%= paginate posts %>