
<div class="container">
  <h1>投稿編集</h1>
  <%= render "public/shared/header" %>

  <%= form_with model: @post, url: public_post_path(@post.id), method: :patch do |f|%>
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag @post.get_image(200, 200) %><br>
      <%= f.label :image, "ファイル" %>
    </div>
    <div class="col-lg-3"><%= f.file_field :image %></div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= image_tag @post.get_image_sub1(150, 150) if @post.image_sub1.present? %><br>
      <%= f.label :image, "サブファイル１" %>
    </div>
    <div class="col-lg-3"><%= f.file_field :image_sub1 %></div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= image_tag @post.get_image_sub2(150, 150) if @post.image_sub2.present? %><br>
      <%= f.label :image, "サブファイル２" %>
    </div>
    <div class="col-lg-3"><%= f.file_field :image_sub2 %></div>
    <br>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
      <%= f.label :title, "タイトル" %><br>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-1"><%= f.label :category_medium_id, "制作媒体" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "制作媒体を選択ください" %></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-1"><%= f.label :category_motif_id, "モチーフ" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_motif_id, CategoryMotif.all, :id, :name, prompt: "モチーフを選択ください" %></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-1"><%= f.label :category_style_id, "スタイル" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_style_id, CategoryStyle.all, :id, :name, prompt: "スタイルを選択ください" %></div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
      <%= f.label :introduction, "紹介文" %><br>
      <%= f.text_area :introduction %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3"><%= f.label :display_status, "表示設定" %></div>
    <div class="col-lg-4">
      <%= f.radio_button :display_status, "true" %>
      <%= f.label :display_status, "表示", value: true %>
      <%= f.radio_button :display_status, "false" %>
      <%= f.label :display_status, "非表示", value: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
      <%= f.submit "更新", class: "btn-success"%><br>
      <br>
      <%= link_to "削除", public_post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-danger" %><br>
    </div>
  </div>
  <%end%>

</div>
