
<div class="container">

  <%= render partial: "public/shared/header" %>

  <div class="row">
    <div class="col-lg-4"> <h2>投稿編集</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= image_tag @post.get_image(200, 200) %><br>
      <%= image_tag @post.get_image_sub1(150, 150) if @post.image_sub1.present? %><br>
      <%= image_tag @post.get_image_sub2(150, 150) if @post.image_sub2.present? %>
    </div>

    <div class="col-lg-6">
      <%= form_with model: @post, url: public_post_path(@post.id), method: :patch do |f|%>
      <%= render 'layouts/error_messages', resource: @post %>
      <table class= "table-striped">
        <tr>
          <th><%= f.label :image, "投稿ファイル（メイン）" %></th>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th><%= f.label :image, "投稿ファイル（サブ１）" %></th>
          <td><%= f.file_field :image_sub1 %></td>
        </tr>
        <tr>
          <th><%= f.label :image, "投稿ファイル（サブ２）" %></th>
          <td><%= f.file_field :image_sub2 %></td>
        </tr>
        <tr>
          <th><%= f.label :title, "タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th><%= f.label :category_medium_id, "制作媒体" %></th>
          <td><%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "制作媒体を選択ください" %></td>
        </tr>
        <tr>
          <th><%= f.label :category_motif_id, "モチーフ" %></th>
          <td><%= f.collection_select :category_motif_id, CategoryMotif.all, :id, :name, prompt: "モチーフを選択ください" %></td>
        </tr>
        <tr>
          <th><%= f.label :category_style_id, "スタイル" %></th>
          <td><%= f.collection_select :category_style_id, CategoryStyle.all, :id, :name, prompt: "スタイルを選択ください" %></td>
        </tr>
        <tr>
          <th><%= f.label :introduction, "紹介文" %></th>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
          <th><%= f.label :display_status, "表示設定" %></th>
          <td>
            <%= f.radio_button :display_status, "true" %>
            <%= f.label :display_status, "表示", value: true %>
            <%= f.radio_button :display_status, "false" %>
            <%= f.label :display_status, "非表示", value: false %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "更新", class: "btn-success"%></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "削除", public_post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn-danger" %></td>
        </tr>
      </table>
      <%end%>
    </div>
  </div>

</div>
