
<div class="container">
  <h1>投稿一覧</h1>
  <%= render partial: "public/shared/header"%>

  <h4>投稿検索</h4>
  媒体別：
  <%= form_with url: public_search_path, method: :get do |f| %>
    <%= f.hidden_field :subject, :value => "投稿_媒体別" %>
    <%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "制作媒体を選択ください" %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <%end%>

  モチーフ別：
  <%= form_with url: public_search_path, method: :get do |f| %>
    <%= f.hidden_field :subject, :value => "投稿_モチーフ別" %>
    <%= f.collection_select :category_motif_id, CategoryMotif.all, :id, :name, prompt: "制作モチーフを選択ください" %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <%end%>

  スタイル別：
  <%= form_with url: public_search_path, method: :get do |f| %>
    <%= f.hidden_field :subject, :value => "投稿_スタイル別" %>
    <%= f.collection_select :category_style_id, CategoryStyle.all, :id, :name, prompt: "制作スタイルを選択ください" %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <%end%>

  <3>投稿一覧</3>
  <%= render partial: "public/shared/index_posts", locals: {posts: @posts} %>

  <%= paginate @posts %>

</div>