

<div class="container">
  <h3>新規投稿</h3>
  <%= "＊：必須項目です"%>
  <%= render "public/shared/header" %>

  <%= form_with model: @post, url: public_posts_path(@post.id), method: :post do |f|%>

  <div class="row">
    <div class="col-lg-4">
      <%= f.label :image, "ファイル：＊" %><br>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.label :image, "サブファイル１" %><br>
      <%= f.file_field :image_sub1 %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= f.label :image, "サブファイル２" %><br>
      <%= f.file_field :image_sub2 %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.label :title, "タイトル：＊" %><br>
      <%= f.text_field :title, placeholder: "タイトルを入力ください" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"><%= f.label :category_medium_id, "制作媒体：＊" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "制作媒体を選択ください" %></div>
  </div>
  <div class="row">
    <div class="col-lg-1"><%= f.label :category_motif_id, "モチーフ：＊" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_motif_id, CategoryMotif.all, :id, :name, prompt: "モチーフを選択ください" %></div>
  </div>
  <div class="row">
    <div class="col-lg-1"><%= f.label :category_style_id, "スタイル：＊" %></div>
    <div class="col-lg-2"><%= f.collection_select :category_style_id, CategoryStyle.all, :id, :name, prompt: "スタイルを選択ください" %></div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.label :introduction, "紹介文：＊" %><br>
      <%= f.text_area :introduction, placeholder: "どんな作品ですか？" %>
    </div>
  </div>

  <div class="row">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"><%= f.submit "投稿", class: "btn-success" %></div>
  </div>

  <%end%>
</div>
