<%= render "public/shared/header" %>

<h1>投稿詳細画面</h1>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_public_post_path(@post.id) %>
<%end%>

<% if @post.user != current_user %>
  <% if @post.bookmarked_by?(current_user) %>
    <%= link_to "ブックマークを外す", public_post_bookmark_path(@post.id), method: :delete %>
  <%else%>
    <%= link_to "ブックマーク", public_post_bookmark_path(@post.id), method: :post %>
  <%end%>
<%end%>


<%= image_tag @post.get_image(200, 200) %><br>
<% if @post.image_sub1.present? %>
  <%= image_tag @post.get_image_sub1(150, 150) %><br>
<%end%>
<% if @post.image_sub2.present? %>
  <%= image_tag @post.get_image_sub2(150, 150) if @post.get_image_sub2(150, 150).present? %><br>
<%end%>

媒体: <%= @medium.name%><br>
モチーフ: <%= @motif.name%><br>
スタイル: <%= @style.name%><br>
タイトル：<%= @post.title %><br>
紹介文：<%= @post.introduction %><br>
制作者：<%= link_to @post.user.name, public_user_path(@post.user.id) %><br>

<h4>コメント</h4>
<%= form_with model: @comment, url: public_post_comments_path(@post.id), method: :post do |f|%>
  <%= f.text_area :content %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.submit "コメント" %>
<%end%>

<% @comments.each do |comment| %>
  <% user = comment.user %>
  <%= link_to image_tag(user.get_icon(100, 100)), public_user_path(user.id) %>
  <%= user.name %>
  <%= comment.content %>
  <% if user.id == current_user.id %>
    <%= link_to "削除", public_post_comment_path(@post.id, comment.id), method: :delete %>
  <%end%>
<%end%>
