<h1>投稿詳細画面</h1>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_public_post_path(@post.id) %>
<%end%>

<%= image_tag @post.get_image(200, 200) %>
タイトル：<%= @post.title %><br>
紹介文：<%= @post.introduction %><br>
制作者：<%= link_to @post.user.name, public_user_path(@post.user.id) %><br>
