
<div class="container">
  <h1>投稿詳細</h1>
  <%= render partial: "public/shared/header" %>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @post.get_image(300, 300) %>
    </div>
    <div class="col-lg-4">
      <%= image_tag @post.get_image_sub1(150, 150) if @post.image_sub1.present? %><br>
      <%= image_tag @post.get_image_sub2(150, 150) if @post.image_sub2.present? %><br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      タイトル：<%= @post.title %>
      制作者：<%= link_to @post.user.name, public_user_path(@post.user.id) %><br>
      媒体: <%= @medium.name%><br>
      モチーフ: <%= @motif.name%><br>
      スタイル: <%= @style.name%><br>
      紹介文：<%= @post.introduction %><br>
      <%= link_to "編集", edit_public_post_path(@post.id) if @post.user.id == current_user.id %><br>
      <% if current_user.member_status == 1 %>
        <%#ブックマーク機能%>
        <div id="bookmark">
          <%= render "public/bookmarks/bookmark_button", post: @post %>
        </div>
      <%end%>
    </div>
  </div>

  <h3>コメント</h3>
  <!--一覧-->
  <div id="comment_index">
    <%= render "public/comments/index", post: @post, comments: @comments %>
  </div>
  <%= paginate @comments %>
  <!--入力フォーム-->
  <% if current_user.member_status == 1 %>
    <%= render "public/comments/form", post: @post, comment: @comment %>
  <%end%>

</div>
