
<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>カテゴリ編集画面：媒体</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= "編集する〈媒体〉：#{@medium.name}"%>
      <%= form_with model: @medium, url: admin_category_medium_path(@medium.id), method: :patch do |f|%>
      <%= render 'layouts/error_messages', resource: @medium %>
      <table class= "table-striped">
        <tr>
          <td><%= f.text_field :name%></td>
          <td><%= f.submit "更新"%></td>
          <td><%= link_to "削除",  admin_category_medium_path(@medium.id), method: :delete, class: "btn-danger", data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
      </table>
      <%end%>
    </div>
  </div>

</div>