
<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>カテゴリ管理画面：制作媒体</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">

    <!--新規作成フォーム-->
    <br>
    <%= form_with model: @new_medium, url: admin_category_media_path, method: :post do |f|%>
    <%= render 'layouts/error_messages', resource: @new_medium %>
    <table class= "table-striped">
      <tr>
        <th>新規作成フォーム</th>
        <td><%= f.text_field :name, placeholder: "追加するカテゴリを入力ください", size: 30 %></td>
        <td><%= f.submit "作成", class: "btn-success"%></td>
      </tr>
    </table>
    <%end%>

    <br>
    <table class= "table-striped">
      <tr>
        <th>媒体名（一覧）</th>
        <td></td>
      </tr>
      <% @media.each do |medium|%>
      <tr>
        <td><%= "・#{medium.name}" %></td>
        <td><%= link_to "編集",  edit_admin_category_medium_path(medium.id) %></td>
      </tr>
      <%end%>
    </table>
    <%= paginate @media %>
    </div>
  </div>

</div>