<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2><職業>編集画面</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= "編集する〈職業〉：#{@occupation.name}"%>
      <%= form_with model: @occupation, url: admin_occupation_path(@occupation.id), method: :patch do |f|%>
      <%= render 'layouts/error_messages', resource: @occupation %>
      <table class= "table-striped">
        <tr>
          <td><%= f.text_field :name%></td>
          <td><%= f.submit "更新"%></td>
          <td><%= link_to "削除",  admin_occupation_path(@occupation.id), method: :delete, class: "btn-danger", data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
      </table>
      <%end%>
    </div>
  </div>

</div>