
<h4>-<ユーザ検索>-</h4>

<!--検索フィルター：制作媒体-->
<%= form_with url: search_path, method: :get do |f| %>
<table class= "table-bordered">
  <tr>
    <th style="width: 85px;">制作媒体：</th>
    <td style="width: 230px;"><%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "制作媒体を選択ください" %></td>
    <td>
      <%= f.search_field :word %>
      <%= f.hidden_field :subject_main, :value => "user" %>
      <%= f.hidden_field :subject_sub, :value => "category_medium" %>
      <%= f.submit "検索" %>
    </td>
  </tr>
</table>
<%end%>

<!--検索フィルター：職業-->
<%= form_with url: search_path, method: :get do |f| %>
<table class= "table-bordered">
  <tr>
    <th style="width: 85px;">職業：</th>
    <td style="width: 230px;"><%= f.collection_select :occupation_id, Occupation.all, :id, :name, prompt: "職業を選択ください" %></td>
    <td>
      <%= f.search_field :word %>
      <%= f.hidden_field :subject_main, :value => "user" %>
      <%= f.hidden_field :subject_sub, :value => "occupation" %>
      <%= f.submit "検索" %>
    </td>
  </tr>
</table>
<%end%>
