
<div class="container">
  <h1>マイページ</h1>
  <%= render "public/shared/header"%>
  <%= render "public/shared/new_post"%><br>
  <%= link_to "編集", edit_public_user_path(current_user.id) %>はこちら


  <div class="row">
    <div class="col-lg-4"><%= image_tag current_user.get_icon(400,400) %><br></div>
    <div class="col-lg-4">
      ユーザー名：<%= current_user.name %><br>
      <%= link_to "フォロー (#{current_user.followings.count})", public_user_followings_path(current_user.id) %><br>
      <%= link_to "フォロワー (#{current_user.followers.count})", public_user_followers_path(current_user.id) %><br>
      <%=link_to "ブックマーク一覧", public_user_bookmarks_path(current_user.id) %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      住まい：<%= current_user.address %><br>
      職業：<%= @occupation.name %><br>
      制作媒体（メイン）：<%= @medium.name %><br>
      自己紹介：<%= current_user.introduction %><br>
    </div>
  </div>

</div>
