<div class="container">

  <%= render "public/shared/header" %>
  <br>

  <h2>検索画面</h2>
  <%= render partial: "public/shared/search_user" %>
  <%= render partial: "public/shared/search_post" %>
  <br>

  <h5>ー検索結果ー</h5>
  <%if @subject_main == "user" %>
    <% if @records.present? %>
      <%= render "public/shared/index_users", display_users: @records %>
      <%#= paginate @records %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>

  <%elsif @subject_main == "post" %>
    <% if @records.present? %>
      <%= render "public/shared/index_posts", posts: @records %>
      <%#= paginate @posts %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>
  <%else%>
    <h4>検索範囲が選択されていません。</h4>
  <%end%>

</div>
