<div class="container">
  <h1>検索画面</h1>
  <%= render partial: "public/shared/header"%>

  <br>
  <h5>ユーザ検索</h5>
  <%= render partial: "public/shared/search_user" %>
  <h5>投稿検索</h5>
  <%= render partial: "public/shared/search_post" %>
  <br>

  <h5>検索結果</h5>
  <%if @subject == "ユーザ_媒体別" %>
    <% if @display_users.present? %>
      <%= render partial: "public/shared/index_users", locals: {display_users: @display_users} %>
      <%= paginate @display_users %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>

  <%elsif @subject == "投稿_媒体別" or "投稿_モチーフ別" or "投稿_スタイル別" %>
    <% if @posts.present? %>
      <%= render partial: "public/shared/index_posts", locals: {posts: @posts} %>
      <%= paginate @posts %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>
  <%else%>
    <h4>検索範囲が選択されていません。条件を変更して再度お試しください。</h4>
  <%end%>

</div>
