
<div class="container">

  <%= render "public/shared/header"%>

  <br>
  <%#最新の投稿を表示（〜４件）%>
  <h3>NEW POST</h3>
    <div class="row">
      <% time = 0 %>
      <% @posts.each do |_post| %>
        <% if _post.user.valid_status == true && _post.user.display_status != false %>
          <div class="col-lg-3">
            <%= image_tag(_post.get_image(100, 100)) %><br>
            <%= link_to _post.title, public_post_path(_post.id) %><br>
            <%= _post.user.name %>
          </div>
          <% time += 1 %>
          <% break if time == 4%>
        <%end%>
      <%end%>
    </div>
    <div class="row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2"><%= link_to "もっと見る", public_posts_path %></div>
    </div>


  <%#新規登録ユーザを4件表示%>
  <h3>NEWCOMER</h3>
    <div class="row">
      <% @display_users.each do |user| %>
      <div class="col-lg-3">
        <%= image_tag (user.get_icon(150, 150)) %><br>
        <%= link_to user.name, public_user_path(user.id) %><br>
        <%= CategoryMedium.find(user.category_medium_id).name %>
      </div>
      <%end%>
    </div>
    <div class="row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2"><%= link_to "もっと見る", public_users_path %></div>
    </div>

</div>