<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2>カテゴリ編集画面：スタイル</h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= "編集する〈スタイル〉：#{@style.name}"%>
      <%= form_with model: @style, url: admin_category_style_path(@style.id), method: :patch do |f|%>
      <%= render 'layouts/error_messages', resource: @style %>
      <table class= "table-striped">
        <tr>
          <td><%= f.text_field :name%></td>
          <td><%= f.submit "更新"%></td>
          <td><%= link_to "削除",  admin_category_style_path(@style.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
      </table>
      <%end%>
    </div>
  </div>

</div>