
<div class="container">

  <h1>カテゴリ（スタイル）編集画面</h1>
  <%= render "admin/shared/header"%>

  <div class="row">
    <div class="col-lg-4">
      <%= "編集する〈スタイル〉：#{@style.name}"%>
    </div>
  </div>

  <%= form_with model: @style, url: admin_category_style_path(@style.id), method: :patch do |f|%>
  <div class="row">
    <div class="col-lg-4">
      <%= f.text_field :name%>
      <%= f.submit "更新", class: "btn-success"%>
      <%= link_to "削除",  admin_category_style_path(@style.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    </div>
  </div>
  <%end%>

</div>
