
<div class="container">
  <!--ヘッダー-->
  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6"> <h2><%= "#{@user.name}がフォローしているユーザ"%></h2> </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
    <% if @followings.present? %>
      <% @followings.each do |following|%>
      <table class= "table-striped">
        <tr>
          <th><%= link_to (image_tag following.get_icon(150, 150)), admin_user_path(following.id) %></th>
          <td>
            <%= "ユーザ名：#{following.name}" %><br>
            <%= "職業：#{Occupation.find(following.occupation_id).name}"%><br>
            <%= "制作媒体：#{CategoryMedium.find(following.category_medium_id).name}"%>
          </td>
        </tr>
      </table>
      <%end%>
      <%= paginate @followings %>
    <%else%>
      -フォローしているユーザはいません-
    <%end%>
    </div>
  </div>

</div>