<div class="container">
  <h1>検索画面</h1>
  <%= render "admin/shared/header"%>

  <br>
  <%#検索フォーム%>
  <%= form_with url: admin_search_path, method: :get do |f| %>
    <%= f.select :subject, options_for_select([["ユーザ"], ["投稿"]]), prompt: "-検索対象を選択ください-"%>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <%end%>
  <br>

  <%if @subject == "ユーザ" %>
    <% if @users.exists? %>
      <%= render "public/shared/index_users", users: @users%>
      <%= paginate @users %>
    <%else%>
      <h4>検索対象が見つかりませんでした。</h4>
    <%end%>
  <%elsif @subject == "投稿" %>
    <% if @posts.exists? %>
      <%= render "public/shared/index_posts", posts: @posts %>
      <%= paginate @posts %>
    <%else%>
      <h4>検索対象が見つかりませんでした。</h4>
    <%end%>
  <%else%>
    <h3>検索範囲が選択されていません。範囲を変更して再度お試しください。</h3>
  <%end%>

</div>