<div class="container">

  <%= render partial: "admin/shared/header"%>
  <br>

  <h2>検索画面</h2>
  <%= render partial: "admin/homes/search_user" %>
  <%= render partial: "admin/homes/search_post" %>
  <br>


  <%if @subject_main == "user" %>
    <h5>ー「ユーザ」の検索結果ー</h5>
    <% if @users.present? %>
      <%= render "admin/users/index_users", users: @users %>
      <%= paginate @users %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>

  <%elsif @subject_main == "post" %>
    <h5>ー「投稿」の検索結果ー</h5>
    <% if @posts.present? %>
      <%= render "admin/posts/index_posts", posts: @posts %>
      <%= paginate @posts %>
    <%else%>
      <h4>検索対象が見つかりませんでした。条件を変えて再度お試しください</h4>
    <%end%>

  <%else%>
    <h4>検索範囲が選択されていません。</h4>
  <%end%>

</div>