
<div class="container">

  <%= render partial: "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-6">
      <table class= "table-striped">
        <tr><h4>管理画面</h4></tr>
        <tr> <td><%= link_to "職業", admin_occupations_path %></td> </tr>
        <tr> <td><%= link_to "カテゴリ：制作媒体", admin_category_media_path %></td> </tr>
        <tr> <td><%= link_to "カテゴリ：モチーフ", admin_category_motifs_path %></td> </tr>
        <tr> <td><%= link_to "カテゴリ：スタイル", admin_category_styles_path %></td> </tr>
      </table>
    </div>
  </div>
</div>