<div class="container">

  <%= render "admin/shared/header" %>

  <div class="row">
    <div class="col-lg-12">
      <h2><%= @post.title %></h2>
      <h5>投稿日：<%= l @post.updated_at, format: :short %></h5>
      <%= link_to "投稿削除", admin_post_path(@post.id), method: :delete, class: "btn-danger", data: {confirm: "本当に削除しますか？"} %>
    </div>
  </div>

  <br>
  <div class="row">
    <!--投稿画像-->
    <div class="col-lg-6">
      <%= image_tag @post.get_image(500, 500) %><br>
      <%= image_tag @post.get_image_sub1(200, 200) if @post.image_sub1.present? %><br>
      <%= image_tag @post.get_image_sub2(200, 200) if @post.image_sub2.present? %><br>
    </div>
    <!--投稿紹介-->
    <div class="col-lg-6">
      <table class= "table-striped">
          <tr> <th>制作者：</th>   <td><%= link_to @post.user.name, admin_user_path(@post.user.id) %></td> </tr>
          <tr> <th>媒体：</th>     <td><%= @medium.name%></td> </tr>
          <tr> <th>モチーフ：</th> <td><%= @motif.name%></td> </tr>
          <tr> <th>スタイル：</th> <td><%= @style.name%></td> </tr>
          <tr> <th>紹介文：</th>   <td><%= @post.introduction %></td> </tr>
          <tr>
            <th>表示ステータス：</th>
            <td>
              <% if @post.display_status == true %>
                表示
              <%else%>
                非表示
              <%end%>
            </td>
          </tr>
      </table>

      <br>
      <h3>-<コメント>-</h3>
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <table class= "table-borderd">
            <tr>
              <th>
                <%= link_to image_tag(comment.user.get_icon(50, 50)), admin_user_path(comment.user.id) %><br>
                <%= comment.user.name %>
              </th>
              <td>
                <%= l comment.created_at, format: :times %><br>
                <%= comment.content %><br>
                <%= link_to "コメント削除", admin_post_comment_path(@post.id, comment.id), method: :delete, class: "btn-danger", data: {confirm: "本当に削除しますか？"} %>
              </td>
            </tr>
          </table>
        <%end%>
        <%= paginate @comments %>
      <%else%>
        <h6>-コメントはまだありません-</h6>
      <%end%>
    </div>
  </div>

</div>