<h2>新規アカウント登録</h2>

<%= form_with model: @user, url: user_registration_path, method: :post do |f|%>
  <%= f.label :name, "ユーザー名"%>
  <%= f.text_field :name %>

  <%= f.label :icon, "アイコン"%>
  <%= f.file_field :icon %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.label :telephone_number, "電話番号"%>
  <%= f.text_field :telephone_number %>

  <%= f.label :address, "住所"%>
  <%= f.text_field :address %>

  <%= f.label :occupation, "職業"%>
  <%= f.collection_select :occupation_id, Occupation.all, :id, :name, prompt: "-現在の職業を選択ください-"%>

  <%= f.label :medium, "メイン媒体"%>
  <%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "-制作媒体を選択ください-"%>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
