<% notices.each do |notice|%>
  <% received_user = notice.received_user %>
  <% send_user = notice.send_user %>
  <% action = notice.action %>

  <table class= "table-striped">
    <tr>
      <th><%= image_tag send_user.get_icon(100, 100) %></th>
      <td>
        <%= link_to "#{send_user.name}", user_path(send_user.id) %>
        <%= "があなた"%>
        <% if action == "follow"%>
          <%= "をフォローしました。"%><br>
        <%else%>
          <%= "の" %>
          <%= link_to "投稿", post_path(notice.post_id) %>
          <% if action == "comment" %>
            <%= "にコメントしました。"%><br>
          <% elsif action == "bookmark" %>
            <%= "をブックマークしました。"%><br>
          <%end%>
        <%end%>
        <%= link_to "既読", user_notification_path(received_user.id, notice.id), method: :patch, class: "btn-warning" %><br>
      </td>
    </tr>
  </table>

<%end%>