
<div class="container">
  <h1>通知一覧</h1>
  <%= render partial: "public/shared/header" %>

  <% if @notices.exists? %>
    <div class="row">
      <div class="col-lg-4">
        <%= link_to "全て既読にする", public_user_notifications_update_path(current_user.id), method: :patch %><br>
      </div>
    </div>

    <%= render partial: "public/notifications/notifications", locals: {notices: @notices} %>
    <%= paginate @notices %>

  <%else%>
    <div class="row">
      <div class="col-lg-4">
        <%= "通知はありません" %>
      </div>
    </div>
  <%end%>

</div>








