
<div class="container">
  <h2>ログイン</h2>

  <%= form_with model: @user, url: user_session_path, method: :post do |f| %>
  <div class="row">
    <div class="col-lg-2"><%= f.label :email, "メールアドレス" %><br></div>
    <div class="col-lg-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="row">
    <div class="col-lg-2"><%= f.label :password, "パスワード" %><br></div>
    <div class="col-lg-2"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2"><%= f.submit "ログイン" , class: "btn-success" %></div>
  </div>
  <%end%>

  <div class="row">
    <div class="col-lg-2"><%= link_to "新規登録", new_user_registration_path  %></div>
  </div>

  <div class="row">
    <div class="col-lg-4"><%= link_to "ゲストユーザ", user_session_guest_path, method: :post %> としてログイン</div>
  </div>







  <%# if devise_mapping.rememberable? %>
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
  <%#end%>