
<div class="container">
  <h2>ログイン</h2>

  <%= form_with model: @user, url: user_session_path, method: :post do |f| %>
  <div class="row">
    <div class="col-lg-4">
      <%= f.label :email, "メールアドレス：" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力ください"%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.label :password, "パスワード：" %><br>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力ください" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2"><%= f.submit "ログイン" , class: "btn-success" %></div>
  </div>
  <%end%>

  <div class="row">
    <div class="col-lg-3"><%= link_to "新規登録", new_user_registration_path %></div>
  </div>

  <div class="row">
    <div class="col-lg-4"><%= link_to "ゲストユーザ", user_session_guest_path, method: :post %> としてログイン</div>
  </div>

</div>







  <%# if devise_mapping.rememberable? %>
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
  <%#end%>