<div class="row">
  <div class="col-lg-6"><h1>D_square（管理者）</h1></div>

  <div class="col-lg-6">
    <%= link_to admin_top_path do %>    <i class="fas fa-house-user fa-2x"></i> <%end%> <!--Top画面-->
    <%= link_to admin_users_path do %>  <i class="fas fa-users fa-2x"></i> <%end%> <!--ユーザ一覧-->
    <%= link_to admin_posts_path do %>  <i class="fas fa-clone fa-2x"></i> <%end%> <!--投稿一覧-->
    <%= link_to admin_search_path do %> <i class="fas fa-search fa-2x"></i> <%end%> <!--検索画面-->
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  </div>
</div>