
<div class="container">
  <%= render "public/shared/header" %>
  <h1>ユーザ編集</h1>

  <%= form_with model: current_user, url: public_user_path(current_user.id), method: :patch do |f|%>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag current_user.get_icon(200, 200) %><br>
      <%= f.label :jcon, "アイコン" %>
      <%= f.file_field :icon %><br>
    </div>
    <div class="col-lg-4">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <br>
      <%= f.label :address, "お住まいの地域" %><br>
      <%= f.select :address, User.addresses.keys, {} %><br>
      <br>
      <%= f.label :occupation, "職業"%><br>
      <%= f.collection_select :occupation_id, Occupation.all, :id, :name, prompt: "-現在のご職業を選択ください-" %><br>
      <br>
      <%= f.label :medium, "制作媒体（メイン）"%><br>
      <%= f.collection_select :category_medium_id, CategoryMedium.all, :id, :name, prompt: "-制作媒体を選択ください-"%><br>
      <br>
      <%= f.label :introduction, "自己紹介"%><br>
      <%= f.text_area :introduction %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <br>
      <h4>表示設定</h4>
      <%= f.radio_button :display_status, true %>
      <%= f.label :display_status, "表示", value: true %><br>
      <%= f.radio_button :display_status, false %>
      <%= f.label :display_status, "非表示", value: false %>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><%= f.submit "更新", class: "btn-success"%></div>
  </div>
</div>

  <%end%>

</div>
