<div class="container">

  <%= render "public/shared/header" %>

  <div class="row">
    <div class="col-lg-4">
      <% if user_signed_in? && @user.id == current_user.id %>
        <h2>マイページ</h2>
      <%else%>
        <h2><%= "#{@user.name}の部屋"%></h2>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4"><%= image_tag @user.get_icon(300,300) %></div>
    <div class="col-lg-4">
      <table class= "table-striped">
        <tr>
          <th>ユーザー名：</th>
          <td>
            <%= @user.name %>
            <!--to ユーザ編集画面-->
            <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to edit_public_user_path(@user.id), method: :get do %> <i class="fas fa-cogs"></i> <%end%><br>
              <%= link_to  "ブックマーク (一覧)", public_user_bookmarks_path(current_user.id) %>
            <%end%>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <!--フォローボタン-->
            <ul id="follow"><%= render "public/follows/follow_button", user: @user %></ul>
          </td>
        </tr>

        <tr>
          <th><%= link_to "フォロー：", public_user_followings_path(@user.id) %></th>
          <td><%= @user.followings.count %></td>
        </tr>

        <tr>
          <th><%= link_to "フォロワー：", public_user_followers_path(@user.id) %></th>
          <td> <div id="followers_count"><%= render "public/follows/followers_count", user: @user %> </td>
        </tr>

        <h5>ー＜プロフィール＞ー</h5>
        <tr> <th>住まい：</th> <td><%= @user.address %></td> </tr>
        <tr> <th>職業：</th> <td><%= @occupation.name %></td> </tr>
        <tr> <th>制作媒体（メイン）：</th> <td><%= @medium.name %></td> </tr>
        <tr> <th>自己紹介：</th> <td><%= @user.introduction %></td> </tr>

      </table>
    </div>
  </div>

  <br>
  <h3>投稿（一覧）</h3>
  <%= render "public/users/index_my_post", posts: @posts %>

</div>
