<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <% if user_signed_in? && @user.id == current_user.id %>
        <h1>マイページ</h1>
      <%else%>
        <h1><%= "#{@user.name}の部屋"%></h1>
      <%end%>
    </div>
    <div class="col-lg-4">
      <%= render partial: "public/shared/header" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4"><%= image_tag @user.get_icon(300,300) %><br></div>
    <div class="col-lg-4">
      ユーザー名：<%= @user.name %><br>
    <!--フォローボタン-->
    <ul id="follow"><%= render "public/follows/follow_button", user: @user %></ul>

      <%= link_to "フォロー", public_user_followings_path(@user.id) %>
        : <%= @user.followings.count %><br>
      <%= link_to "フォロワー", public_user_followers_path(@user.id) %>
        : <div id="followers_count"><%= render "public/follows/followers_count", user: @user %></div>

      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to  "ブックマーク (一覧)", public_user_bookmarks_path(current_user.id) %><br>
        <!--to ユーザ編集画面-->
        <%= link_to edit_public_user_path(@user.id), method: :get do %>
          <i class="fa-solid fa-user-gear fa-2x"></i>
        <%end%><br>
      <%end%>

      <h5>ー＜プロフィール＞ー</h5>
      住まい：<%= @user.address %><br>
      職業：<%= @occupation.name %><br>
      制作媒体（メイン）：<%= @medium.name %><br>
      自己紹介：<%= @user.introduction %><br>

    </div>
  </div>

  <br>
  <h3>投稿（一覧）</h3>
  <%= render "public/users/index_my_post", posts: @posts %>

</div>
